<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CNN_Glacoma_detection</title>
</head>
<body>
    <center>
        <div>
            <h2> Welcome to Glacoma Detection</h2>
            <p > Please upload Retinal Pic and see your predictions</p>
            <p>NOTE: please note that this is just a proto-type</p>
        </div>
        <div>
            <form method="POST" action="/predict" enctype="multipart/form-data">
            <input type="file" name='image' class='btn'><br><br><br>
            <input type="submit" class='btn'>
            </form>

    </center>
</body>
</html>